:root {
	--dice-el: 2.5rem;
	--dice-pip: 1.2rem;

	--color-main: #083553;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

input:disabled {
	color: #ccc;
}

button {
	outline: none;
	border: none;
	cursor: pointer;
}

.btn-main {
	width: 16rem;
	padding: 0.6rem 0;
	background-color: #083553;
	color: #FFF;
	border-radius: 0.6rem;
	font-size: 2rem;
}

.btn-main:disabled {
	opacity: 0.7;
	cursor: default;
}

.btn-main:hover {
	filter: brightness(130%);
}

.btn-main:active:enabled {
	transform: translateY(0.2rem);
}

.total-score {
	font-size: 1.8rem;
	padding: 1rem 0;
}

/* dice */
.dice-pip-container {
	display: grid;
	grid-template-columns: repeat(3, var(--dice-el));
	grid-template-rows: repeat(3, var(--dice-el));
	background-color: #40DEE12A;
	width: calc(3 * var(--dice-el));
	border-radius: 10%;
	padding: calc(0.8 * var(--dice-pip));
}

.dice-pip-container > div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.dice-pip {
	width: var(--dice-pip);
	height: var(--dice-pip);
	border-radius: 100%;
	background-color: #000;
}

/* players */
.players-container {
	display: grid;
	grid-template-columns: repeat(2, 12rem);
}

.player-selected {
	font-size: 1.4rem;
	font-weight: 700;
}